<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sign in</h4>
      </div>
      <div class="modal-body">
        <%= form_for @user, remote: true, url: {controller: "users", action: "create"}, class: "form-inline" do |f| %>
          <%= f.label "Hi! What's your name?" %>
          <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="modal-footer">
          <%= f.submit "Play!", class: "btn btn-primary", onclick: "closeModal()" %>
        <% end %>
      </div>
    </div>
  </div>
</div>